<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" class="ion-activatable ripple-parent">
      <ion-menu-button></ion-menu-button>
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="end">
      <ion-button class="ion-activatable ripple-parent" (click)="takeSnap()">
        <ion-icon slot="icon-only" ios="camera-outline" md="camera-sharp"></ion-icon>
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-progress-bar *ngIf="predictBoolean" type="indeterminate"></ion-progress-bar>
  <ion-grid>
    <ion-row class="ion-justify-content-center" *ngIf="!predictBoolean && predictString!==''">
      <h1 class="prediction"> {{predictString}}</h1>
    </ion-row>
    <ion-row *ngIf="photo === null" class="ion-justify-content-center">
      <ion-col size-md="8" size-lg="4">
        <img class="preview" src="assets/image.svg" (click)="takeSnap()">
      </ion-col>

    </ion-row>

    <ion-row *ngIf="photo !== null" class="ion-justify-content-center">
      <ion-col size-md="12" size-lg="4">
        <img class="" [src]="photo">
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="4" size-md="6">
        <ion-button *ngIf="predictString===''" (click)="detect()" [disabled]="photo === null" color="tertiary"
          expand="block" shape="round">
          Analizar
          <ion-icon slot="end" name="leaf"></ion-icon>
        </ion-button>
        <ion-button *ngIf="predictString" (click)="capture()" color="tertiary" expand="block" shape="round">
          subir imagen
          <ion-icon slot="end" name="add"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size-md="12" size-lg="12">
        <i class="note">* Haga clic en ícono de cámara para obtener una fotografía.</i>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>